<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Producción</title>
    <link rel="stylesheet" href="../public/css/estilos.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="main">
        <img class="source source-1" src="../public/img/aux-2.png" alt="" srcset="">
        <div class="row-con">
            <header>
                <div class="logo">
                    <img src="../public/img/logo.png" alt="">
                </div>
                <div class="info">
                    <h3>Sistema Central de Producción</h3>
                    <p>Control de Producción</p>
                </div>
                <div class="options">
                    <button class="material-icons">logout</button>
                </div>
            </header>
            <main>
                <div class="options">
                    <div class="left">
                        <a href="principal.html" class="regresar"><i class="material-icons">arrow_back_ios</i>Regresar al menú principal</a>
                    </div>
                    <div class="right">
                        <form>
                            <input type="number" name="" id="" placeholder="Buscar O.P.">
                        </form>
                    </div>
                </div>
                <div class="informacion">
                    <table>
                        <tbody>
                            <tr>
                                <td>Código del dibujo: </td>
                                <td>Cliente: </td>
                                <td>Fecha: </td>
                                <td>Cantidad: </td>
                            </tr>
                            <tr>
                                <td>Descripción: </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="estados">
                    <button class="boton_estado" data-estado="forjado">FORJADO</button>
                    <button class="boton_estado" data-estado="ranurado">RANURADO</button>
                    <button class="boton_estado" data-estado="rolado">ROLADO</button>
                    <button class="boton_estado" data-estado="shank">SHANK</button>
                    <button class="boton_estado" data-estado="cementado">CEMENTADO</button>
                    <button class="boton_estado" data-estado="acabado">ACABADO</button>
                </div>
                <div class="contenedor_tablas">
                    <div class="tabla_estado estado_forjado">
                        <h3>FORJADO</h3>
                        <div class="contenedor_estado">
                            <table>
                                <thead>
                                    <th>Máquina</th>
                                    <th>Bote</th>
                                    <th>Fecha Entrega</th>
                                    <th>Pzas.</th>
                                    <th>Pzas. Acumuladas</th>
                                    <th>Kg.</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>item-1</td>
                                        <td>item-2</td>
                                        <td>item-3</td>
                                        <td>item-1</td>
                                        <td>item-2</td>
                                        <td>item-3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tabla_estado estado_ranurado">
                        <h3>RANURADO</h3>
                        <div class="contenedor_estado">
                            <table>
                                <thead>
                                    <th>Máquina</th>
                                    <th>Bote</th>
                                    <th>Fecha Entrega</th>
                                    <th>Pzas.</th>
                                    <th>Pzas. Acumuladas</th>
                                    <th>Kg.</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>item-1</td>
                                        <td>item-2</td>
                                        <td>item-3</td>
                                        <td>item-1</td>
                                        <td>item-2</td>
                                        <td>item-3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tabla_estado estado_rolado">
                        <h3>ROLADO</h3>
                        <div class="contenedor_estado">
                            <table>
                                <thead>
                                    <th>Máquina</th>
                                    <th>Bote</th>
                                    <th>Fecha Entrega</th>
                                    <th>Pzas.</th>
                                    <th>Pzas. Acumuladas</th>
                                    <th>Kg.</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>item-1</td>
                                        <td>item-2</td>
                                        <td>item-3</td>
                                        <td>item-1</td>
                                        <td>item-2</td>
                                        <td>item-3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tabla_estado estado_shank">
                        <h3>SHANK</h3>
                        <div class="contenedor_estado">
                            <table>
                                <thead>
                                    <th>Máquina</th>
                                    <th>Bote</th>
                                    <th>Fecha Entrega</th>
                                    <th>Pzas.</th>
                                    <th>Pzas. Acumuladas</th>
                                    <th>Kg.</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>item-1</td>
                                        <td>item-2</td>
                                        <td>item-3</td>
                                        <td>item-1</td>
                                        <td>item-2</td>
                                        <td>item-3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tabla_estado estado_cementado">
                        <h3>CEMENTADO</h3>
                        <div class="contenedor_estado">
                            <table>
                                <thead>
                                    <th>Máquina</th>
                                    <th>Bote</th>
                                    <th>Fecha Entrega</th>
                                    <th>Pzas.</th>
                                    <th>Pzas. Acumuladas</th>
                                    <th>Kg.</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>item-1</td>
                                        <td>item-2</td>
                                        <td>item-3</td>
                                        <td>item-1</td>
                                        <td>item-2</td>
                                        <td>item-3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tabla_estado estado_acabado">
                        <h3>ACABADO</h3>
                        <div class="contenedor_estado">
                            <table>
                                <thead>
                                    <th>Máquina</th>
                                    <th>Bote</th>
                                    <th>Fecha Entrega</th>
                                    <th>Pzas.</th>
                                    <th>Pzas. Acumuladas</th>
                                    <th>Kg.</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>item-1</td>
                                        <td>item-2</td>
                                        <td>item-3</td>
                                        <td>item-1</td>
                                        <td>item-2</td>
                                        <td>item-3</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <img class="source source-2" src="../public/img/aux-1.png" alt="" srcset="">
    </div>
    <script src="../public/js/estados.js"></script>
</body>
</html>