<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="../public/css/framework-2.2.css">
    <link rel="stylesheet" href="../public/css/estilos.css">
</head>
<body>
    <div class="container">
        <div class="row-con fluid nowrap">
            <div class="bienvenida login fluid align-center justify-around">
                <div class="illustracion con-w4">
                    <img src="../public/img/Layer 2.svg" alt="">
                </div>
                <div class=" nombre_proyecto con-w6">
                    <p>Bienvenido</p>
                    <h1>Sistema Central de Producción</h1>
                    <button class="btn btn-blue" data-login="true">Iniciar Sesión</button>
                </div>
            </div>
            <div class="login-form con-w5 formulario" style="display: none;">
                <div class="login">
                    <h1>Iniciar Sesión</h1>
                    <form action="post">
                        <label for="">Nombre de usuario</label>
                        <input class="form-control" type="text" name="" id="">
                        <label for="">Contraseña</label>
                        <input class="form-control" type="password" name="" id="">
                        <button class="btn btn-blue" >Ingresar</button>
                        <a href="">¿Olvidaste tu contraseña?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>