<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordenes de Producción</title>
    <link rel="stylesheet" href="../public/css/estilos.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="main">
        <img class="source source-1" src="../public/img/aux-2.png" alt="" srcset="">
        <div class="row-con">
            <header>
                <div class="logo">
                    <img src="../public/img/logo.png" alt="">
                </div>
                <div class="info">
                    <h3>Sistema Central de Producción</h3>
                    <p>Menú Principal</p>
                </div>
                <div class="options">
                    <button class="material-icons">logout</button>
                </div>
            </header>
            <main>
                <div class="options">
                    <div class="left">
                        <a href="principal.html" class="regresar"><i class="material-icons">arrow_back_ios</i>Menú principal</a>
                    </div>
                    <div class="right">
                        <button class="btn-tooltip">
                            <p>O.P.</p>
                            <span class="arrow material-icons">arrow_drop_up</span>
                            <span class="tooltip">Ordenes de Producción</span>
                        </button>
                        <button class="btn-tooltip">
                            <p>R.D.</p>
                            <span class="arrow material-icons">arrow_drop_up</span>
                            <span class="tooltip">Reporte Diario</span>
                        </button>
                        <button class="btn-tooltip">
                            <p>R.D. (Máquinas)</p>
                            <span class="arrow material-icons">arrow_drop_up</span>
                            <span class="tooltip">Reporte Diario por Máquina</span>
                        </button>
                        <button class="btn-icon btn_filtrar_open material-icons">filter_alt</button>
                        <button class="btn-icon material-icons">print</button>
                    </div>
                </div>
                <div class="tabla">
                    <table>
                        <thead>
                            <th>item-1</th>
                            <th>item-2</th>
                            <th>item-3</th>
                            <th>item-4</th>
                            <th>item-5</th>
                            <th>item-6</th>
                            <th>item-7</th>
                            <th>item-8</th>
                            <th>item-9</th>
                            <th>item-10</th>
                            <th>item-11</th>
                            <th>item-12</th>
                            <th>item-13</th>
                            <th>item-14</th>
                            <th>item-15</th>
                            <th>item-16</th>
                            <th>item-17</th>
                            <th>item-18</th>
                            <th>item-19</th>
                            <th>item-20</th>
                            <th>item-21</th>
                            <th>item-22</th>
                            <th>item-23</th>
                            <th>item-24</th>
                            <th>item-25</th>
                            <th>item-26</th>
                            <th>item-27</th>
                            <th>item-28</th>
                            <th>item-29</th>
                            <th>item-30</th>
                            <th>item-31</th>
                            <th>item-32</th>
                            <th>item-33</th>
                            <th>item-34</th>
                            <th>item-35</th>
                            <th>item-36</th>
                            <th>item-37</th>
                            <th>item-38</th>
                            <th>item-39</th>
                            <th>item-40</th>
                            <th>item-41</th>
                            <th>item-42</th>
                            <th>item-43</th>
                            <th>item-44</th>
                            <th>item-45</th>
                            <th>item-46</th>
                            <th>item-47</th>
                            <th>item-48</th>
                            <th>item-49</th>
                            <th>item-50</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1-item</td>
                                <td>2-item</td>
                                <td>3-item</td>
                                <td>4-item</td>
                                <td>5-item</td>
                                <td>6-item</td>
                                <td>7-item</td>
                                <td>8-item</td>
                                <td>9-item</td>
                                <td>10-item</td>
                                <td>11-item</td>
                                <td>12-item</td>
                                <td>13-item</td>
                                <td>14-item</td>
                                <td>15-item</td>
                                <td>16-item</td>
                                <td>17-item</td>
                                <td>18-item</td>
                                <td>19-item</td>
                                <td>20-item</td>
                                <td>21-item</td>
                                <td>22-item</td>
                                <td>23-item</td>
                                <td>24-item</td>
                                <td>25-item</td>
                                <td>26-item</td>
                                <td>27-item</td>
                                <td>28-item</td>
                                <td>29-item</td>
                                <td>30-item</td>
                                <td>31-item</td>
                                <td>32-item</td>
                                <td>33-item</td>
                                <td>34-item</td>
                                <td>35-item</td>
                                <td>36-item</td>
                                <td>37-item</td>
                                <td>38-item</td>
                                <td>39-item</td>
                                <td>40-item</td>
                                <td>41-item</td>
                                <td>42-item</td>
                                <td>43-item</td>
                                <td>44-item</td>
                                <td>45-item</td>
                                <td>46-item</td>
                                <td>47-item</td>
                                <td>48-item</td>
                                <td>49-item</td>
                                <td>50-item</td>
                            </tr>
                            <tr>
                                <td>1-item</td>
                                <td>2-item</td>
                                <td>3-item</td>
                                <td>4-item</td>
                                <td>5-item</td>
                                <td>6-item</td>
                                <td>7-item</td>
                                <td>8-item</td>
                                <td>9-item</td>
                                <td>10-item</td>
                                <td>11-item</td>
                                <td>12-item</td>
                                <td>13-item</td>
                                <td>14-item</td>
                                <td>15-item</td>
                                <td>16-item</td>
                                <td>17-item</td>
                                <td>18-item</td>
                                <td>19-item</td>
                                <td>20-item</td>
                                <td>21-item</td>
                                <td>22-item</td>
                                <td>23-item</td>
                                <td>24-item</td>
                                <td>25-item</td>
                                <td>26-item</td>
                                <td>27-item</td>
                                <td>28-item</td>
                                <td>29-item</td>
                                <td>30-item</td>
                                <td>31-item</td>
                                <td>32-item</td>
                                <td>33-item</td>
                                <td>34-item</td>
                                <td>35-item</td>
                                <td>36-item</td>
                                <td>37-item</td>
                                <td>38-item</td>
                                <td>39-item</td>
                                <td>40-item</td>
                                <td>41-item</td>
                                <td>42-item</td>
                                <td>43-item</td>
                                <td>44-item</td>
                                <td>45-item</td>
                                <td>46-item</td>
                                <td>47-item</td>
                                <td>48-item</td>
                                <td>49-item</td>
                                <td>50-item</td>
                            </tr>
                            <tr>
                                <td>1-item</td>
                                <td>2-item</td>
                                <td>3-item</td>
                                <td>4-item</td>
                                <td>5-item</td>
                                <td>6-item</td>
                                <td>7-item</td>
                                <td>8-item</td>
                                <td>9-item</td>
                                <td>10-item</td>
                                <td>11-item</td>
                                <td>12-item</td>
                                <td>13-item</td>
                                <td>14-item</td>
                                <td>15-item</td>
                                <td>16-item</td>
                                <td>17-item</td>
                                <td>18-item</td>
                                <td>19-item</td>
                                <td>20-item</td>
                                <td>21-item</td>
                                <td>22-item</td>
                                <td>23-item</td>
                                <td>24-item</td>
                                <td>25-item</td>
                                <td>26-item</td>
                                <td>27-item</td>
                                <td>28-item</td>
                                <td>29-item</td>
                                <td>30-item</td>
                                <td>31-item</td>
                                <td>32-item</td>
                                <td>33-item</td>
                                <td>34-item</td>
                                <td>35-item</td>
                                <td>36-item</td>
                                <td>37-item</td>
                                <td>38-item</td>
                                <td>39-item</td>
                                <td>40-item</td>
                                <td>41-item</td>
                                <td>42-item</td>
                                <td>43-item</td>
                                <td>44-item</td>
                                <td>45-item</td>
                                <td>46-item</td>
                                <td>47-item</td>
                                <td>48-item</td>
                                <td>49-item</td>
                                <td>50-item</td>
                            </tr>
                            <tr>
                                <td>1-item</td>
                                <td>2-item</td>
                                <td>3-item</td>
                                <td>4-item</td>
                                <td>5-item</td>
                                <td>6-item</td>
                                <td>7-item</td>
                                <td>8-item</td>
                                <td>9-item</td>
                                <td>10-item</td>
                                <td>11-item</td>
                                <td>12-item</td>
                                <td>13-item</td>
                                <td>14-item</td>
                                <td>15-item</td>
                                <td>16-item</td>
                                <td>17-item</td>
                                <td>18-item</td>
                                <td>19-item</td>
                                <td>20-item</td>
                                <td>21-item</td>
                                <td>22-item</td>
                                <td>23-item</td>
                                <td>24-item</td>
                                <td>25-item</td>
                                <td>26-item</td>
                                <td>27-item</td>
                                <td>28-item</td>
                                <td>29-item</td>
                                <td>30-item</td>
                                <td>31-item</td>
                                <td>32-item</td>
                                <td>33-item</td>
                                <td>34-item</td>
                                <td>35-item</td>
                                <td>36-item</td>
                                <td>37-item</td>
                                <td>38-item</td>
                                <td>39-item</td>
                                <td>40-item</td>
                                <td>41-item</td>
                                <td>42-item</td>
                                <td>43-item</td>
                                <td>44-item</td>
                                <td>45-item</td>
                                <td>46-item</td>
                                <td>47-item</td>
                                <td>48-item</td>
                                <td>49-item</td>
                                <td>50-item</td>
                            </tr>
                            <tr>
                                <td>1-item</td>
                                <td>2-item</td>
                                <td>3-item</td>
                                <td>4-item</td>
                                <td>5-item</td>
                                <td>6-item</td>
                                <td>7-item</td>
                                <td>8-item</td>
                                <td>9-item</td>
                                <td>10-item</td>
                                <td>11-item</td>
                                <td>12-item</td>
                                <td>13-item</td>
                                <td>14-item</td>
                                <td>15-item</td>
                                <td>16-item</td>
                                <td>17-item</td>
                                <td>18-item</td>
                                <td>19-item</td>
                                <td>20-item</td>
                                <td>21-item</td>
                                <td>22-item</td>
                                <td>23-item</td>
                                <td>24-item</td>
                                <td>25-item</td>
                                <td>26-item</td>
                                <td>27-item</td>
                                <td>28-item</td>
                                <td>29-item</td>
                                <td>30-item</td>
                                <td>31-item</td>
                                <td>32-item</td>
                                <td>33-item</td>
                                <td>34-item</td>
                                <td>35-item</td>
                                <td>36-item</td>
                                <td>37-item</td>
                                <td>38-item</td>
                                <td>39-item</td>
                                <td>40-item</td>
                                <td>41-item</td>
                                <td>42-item</td>
                                <td>43-item</td>
                                <td>44-item</td>
                                <td>45-item</td>
                                <td>46-item</td>
                                <td>47-item</td>
                                <td>48-item</td>
                                <td>49-item</td>
                                <td>50-item</td>
                            </tr>
                            <tr>
                                <td>1-item</td>
                                <td>2-item</td>
                                <td>3-item</td>
                                <td>4-item</td>
                                <td>5-item</td>
                                <td>6-item</td>
                                <td>7-item</td>
                                <td>8-item</td>
                                <td>9-item</td>
                                <td>10-item</td>
                                <td>11-item</td>
                                <td>12-item</td>
                                <td>13-item</td>
                                <td>14-item</td>
                                <td>15-item</td>
                                <td>16-item</td>
                                <td>17-item</td>
                                <td>18-item</td>
                                <td>19-item</td>
                                <td>20-item</td>
                                <td>21-item</td>
                                <td>22-item</td>
                                <td>23-item</td>
                                <td>24-item</td>
                                <td>25-item</td>
                                <td>26-item</td>
                                <td>27-item</td>
                                <td>28-item</td>
                                <td>29-item</td>
                                <td>30-item</td>
                                <td>31-item</td>
                                <td>32-item</td>
                                <td>33-item</td>
                                <td>34-item</td>
                                <td>35-item</td>
                                <td>36-item</td>
                                <td>37-item</td>
                                <td>38-item</td>
                                <td>39-item</td>
                                <td>40-item</td>
                                <td>41-item</td>
                                <td>42-item</td>
                                <td>43-item</td>
                                <td>44-item</td>
                                <td>45-item</td>
                                <td>46-item</td>
                                <td>47-item</td>
                                <td>48-item</td>
                                <td>49-item</td>
                                <td>50-item</td>
                            </tr>
                            <tr>
                                <td>1-item</td>
                                <td>2-item</td>
                                <td>3-item</td>
                                <td>4-item</td>
                                <td>5-item</td>
                                <td>6-item</td>
                                <td>7-item</td>
                                <td>8-item</td>
                                <td>9-item</td>
                                <td>10-item</td>
                                <td>11-item</td>
                                <td>12-item</td>
                                <td>13-item</td>
                                <td>14-item</td>
                                <td>15-item</td>
                                <td>16-item</td>
                                <td>17-item</td>
                                <td>18-item</td>
                                <td>19-item</td>
                                <td>20-item</td>
                                <td>21-item</td>
                                <td>22-item</td>
                                <td>23-item</td>
                                <td>24-item</td>
                                <td>25-item</td>
                                <td>26-item</td>
                                <td>27-item</td>
                                <td>28-item</td>
                                <td>29-item</td>
                                <td>30-item</td>
                                <td>31-item</td>
                                <td>32-item</td>
                                <td>33-item</td>
                                <td>34-item</td>
                                <td>35-item</td>
                                <td>36-item</td>
                                <td>37-item</td>
                                <td>38-item</td>
                                <td>39-item</td>
                                <td>40-item</td>
                                <td>41-item</td>
                                <td>42-item</td>
                                <td>43-item</td>
                                <td>44-item</td>
                                <td>45-item</td>
                                <td>46-item</td>
                                <td>47-item</td>
                                <td>48-item</td>
                                <td>49-item</td>
                                <td>50-item</td>
                            </tr>
                            <tr>
                                <td>1-item</td>
                                <td>2-item</td>
                                <td>3-item</td>
                                <td>4-item</td>
                                <td>5-item</td>
                                <td>6-item</td>
                                <td>7-item</td>
                                <td>8-item</td>
                                <td>9-item</td>
                                <td>10-item</td>
                                <td>11-item</td>
                                <td>12-item</td>
                                <td>13-item</td>
                                <td>14-item</td>
                                <td>15-item</td>
                                <td>16-item</td>
                                <td>17-item</td>
                                <td>18-item</td>
                                <td>19-item</td>
                                <td>20-item</td>
                                <td>21-item</td>
                                <td>22-item</td>
                                <td>23-item</td>
                                <td>24-item</td>
                                <td>25-item</td>
                                <td>26-item</td>
                                <td>27-item</td>
                                <td>28-item</td>
                                <td>29-item</td>
                                <td>30-item</td>
                                <td>31-item</td>
                                <td>32-item</td>
                                <td>33-item</td>
                                <td>34-item</td>
                                <td>35-item</td>
                                <td>36-item</td>
                                <td>37-item</td>
                                <td>38-item</td>
                                <td>39-item</td>
                                <td>40-item</td>
                                <td>41-item</td>
                                <td>42-item</td>
                                <td>43-item</td>
                                <td>44-item</td>
                                <td>45-item</td>
                                <td>46-item</td>
                                <td>47-item</td>
                                <td>48-item</td>
                                <td>49-item</td>
                                <td>50-item</td>
                            </tr>
                            <tr>
                                <td>1-item</td>
                                <td>2-item</td>
                                <td>3-item</td>
                                <td>4-item</td>
                                <td>5-item</td>
                                <td>6-item</td>
                                <td>7-item</td>
                                <td>8-item</td>
                                <td>9-item</td>
                                <td>10-item</td>
                                <td>11-item</td>
                                <td>12-item</td>
                                <td>13-item</td>
                                <td>14-item</td>
                                <td>15-item</td>
                                <td>16-item</td>
                                <td>17-item</td>
                                <td>18-item</td>
                                <td>19-item</td>
                                <td>20-item</td>
                                <td>21-item</td>
                                <td>22-item</td>
                                <td>23-item</td>
                                <td>24-item</td>
                                <td>25-item</td>
                                <td>26-item</td>
                                <td>27-item</td>
                                <td>28-item</td>
                                <td>29-item</td>
                                <td>30-item</td>
                                <td>31-item</td>
                                <td>32-item</td>
                                <td>33-item</td>
                                <td>34-item</td>
                                <td>35-item</td>
                                <td>36-item</td>
                                <td>37-item</td>
                                <td>38-item</td>
                                <td>39-item</td>
                                <td>40-item</td>
                                <td>41-item</td>
                                <td>42-item</td>
                                <td>43-item</td>
                                <td>44-item</td>
                                <td>45-item</td>
                                <td>46-item</td>
                                <td>47-item</td>
                                <td>48-item</td>
                                <td>49-item</td>
                                <td>50-item</td>
                            </tr>
                            <tr>
                                <td>1-item</td>
                                <td>2-item</td>
                                <td>3-item</td>
                                <td>4-item</td>
                                <td>5-item</td>
                                <td>6-item</td>
                                <td>7-item</td>
                                <td>8-item</td>
                                <td>9-item</td>
                                <td>10-item</td>
                                <td>11-item</td>
                                <td>12-item</td>
                                <td>13-item</td>
                                <td>14-item</td>
                                <td>15-item</td>
                                <td>16-item</td>
                                <td>17-item</td>
                                <td>18-item</td>
                                <td>19-item</td>
                                <td>20-item</td>
                                <td>21-item</td>
                                <td>22-item</td>
                                <td>23-item</td>
                                <td>24-item</td>
                                <td>25-item</td>
                                <td>26-item</td>
                                <td>27-item</td>
                                <td>28-item</td>
                                <td>29-item</td>
                                <td>30-item</td>
                                <td>31-item</td>
                                <td>32-item</td>
                                <td>33-item</td>
                                <td>34-item</td>
                                <td>35-item</td>
                                <td>36-item</td>
                                <td>37-item</td>
                                <td>38-item</td>
                                <td>39-item</td>
                                <td>40-item</td>
                                <td>41-item</td>
                                <td>42-item</td>
                                <td>43-item</td>
                                <td>44-item</td>
                                <td>45-item</td>
                                <td>46-item</td>
                                <td>47-item</td>
                                <td>48-item</td>
                                <td>49-item</td>
                                <td>50-item</td>
                            </tr>
                            <tr>
                                <td>1-item</td>
                                <td>2-item</td>
                                <td>3-item</td>
                                <td>4-item</td>
                                <td>5-item</td>
                                <td>6-item</td>
                                <td>7-item</td>
                                <td>8-item</td>
                                <td>9-item</td>
                                <td>10-item</td>
                                <td>11-item</td>
                                <td>12-item</td>
                                <td>13-item</td>
                                <td>14-item</td>
                                <td>15-item</td>
                                <td>16-item</td>
                                <td>17-item</td>
                                <td>18-item</td>
                                <td>19-item</td>
                                <td>20-item</td>
                                <td>21-item</td>
                                <td>22-item</td>
                                <td>23-item</td>
                                <td>24-item</td>
                                <td>25-item</td>
                                <td>26-item</td>
                                <td>27-item</td>
                                <td>28-item</td>
                                <td>29-item</td>
                                <td>30-item</td>
                                <td>31-item</td>
                                <td>32-item</td>
                                <td>33-item</td>
                                <td>34-item</td>
                                <td>35-item</td>
                                <td>36-item</td>
                                <td>37-item</td>
                                <td>38-item</td>
                                <td>39-item</td>
                                <td>40-item</td>
                                <td>41-item</td>
                                <td>42-item</td>
                                <td>43-item</td>
                                <td>44-item</td>
                                <td>45-item</td>
                                <td>46-item</td>
                                <td>47-item</td>
                                <td>48-item</td>
                                <td>49-item</td>
                                <td>50-item</td>
                            </tr>
                            <tr>
                                <td>1-item</td>
                                <td>2-item</td>
                                <td>3-item</td>
                                <td>4-item</td>
                                <td>5-item</td>
                                <td>6-item</td>
                                <td>7-item</td>
                                <td>8-item</td>
                                <td>9-item</td>
                                <td>10-item</td>
                                <td>11-item</td>
                                <td>12-item</td>
                                <td>13-item</td>
                                <td>14-item</td>
                                <td>15-item</td>
                                <td>16-item</td>
                                <td>17-item</td>
                                <td>18-item</td>
                                <td>19-item</td>
                                <td>20-item</td>
                                <td>21-item</td>
                                <td>22-item</td>
                                <td>23-item</td>
                                <td>24-item</td>
                                <td>25-item</td>
                                <td>26-item</td>
                                <td>27-item</td>
                                <td>28-item</td>
                                <td>29-item</td>
                                <td>30-item</td>
                                <td>31-item</td>
                                <td>32-item</td>
                                <td>33-item</td>
                                <td>34-item</td>
                                <td>35-item</td>
                                <td>36-item</td>
                                <td>37-item</td>
                                <td>38-item</td>
                                <td>39-item</td>
                                <td>40-item</td>
                                <td>41-item</td>
                                <td>42-item</td>
                                <td>43-item</td>
                                <td>44-item</td>
                                <td>45-item</td>
                                <td>46-item</td>
                                <td>47-item</td>
                                <td>48-item</td>
                                <td>49-item</td>
                                <td>50-item</td>
                            </tr>
                            <tr>
                                <td>1-item</td>
                                <td>2-item</td>
                                <td>3-item</td>
                                <td>4-item</td>
                                <td>5-item</td>
                                <td>6-item</td>
                                <td>7-item</td>
                                <td>8-item</td>
                                <td>9-item</td>
                                <td>10-item</td>
                                <td>11-item</td>
                                <td>12-item</td>
                                <td>13-item</td>
                                <td>14-item</td>
                                <td>15-item</td>
                                <td>16-item</td>
                                <td>17-item</td>
                                <td>18-item</td>
                                <td>19-item</td>
                                <td>20-item</td>
                                <td>21-item</td>
                                <td>22-item</td>
                                <td>23-item</td>
                                <td>24-item</td>
                                <td>25-item</td>
                                <td>26-item</td>
                                <td>27-item</td>
                                <td>28-item</td>
                                <td>29-item</td>
                                <td>30-item</td>
                                <td>31-item</td>
                                <td>32-item</td>
                                <td>33-item</td>
                                <td>34-item</td>
                                <td>35-item</td>
                                <td>36-item</td>
                                <td>37-item</td>
                                <td>38-item</td>
                                <td>39-item</td>
                                <td>40-item</td>
                                <td>41-item</td>
                                <td>42-item</td>
                                <td>43-item</td>
                                <td>44-item</td>
                                <td>45-item</td>
                                <td>46-item</td>
                                <td>47-item</td>
                                <td>48-item</td>
                                <td>49-item</td>
                                <td>50-item</td>
                            </tr>
                            <tr>
                                <td>1-item</td>
                                <td>2-item</td>
                                <td>3-item</td>
                                <td>4-item</td>
                                <td>5-item</td>
                                <td>6-item</td>
                                <td>7-item</td>
                                <td>8-item</td>
                                <td>9-item</td>
                                <td>10-item</td>
                                <td>11-item</td>
                                <td>12-item</td>
                                <td>13-item</td>
                                <td>14-item</td>
                                <td>15-item</td>
                                <td>16-item</td>
                                <td>17-item</td>
                                <td>18-item</td>
                                <td>19-item</td>
                                <td>20-item</td>
                                <td>21-item</td>
                                <td>22-item</td>
                                <td>23-item</td>
                                <td>24-item</td>
                                <td>25-item</td>
                                <td>26-item</td>
                                <td>27-item</td>
                                <td>28-item</td>
                                <td>29-item</td>
                                <td>30-item</td>
                                <td>31-item</td>
                                <td>32-item</td>
                                <td>33-item</td>
                                <td>34-item</td>
                                <td>35-item</td>
                                <td>36-item</td>
                                <td>37-item</td>
                                <td>38-item</td>
                                <td>39-item</td>
                                <td>40-item</td>
                                <td>41-item</td>
                                <td>42-item</td>
                                <td>43-item</td>
                                <td>44-item</td>
                                <td>45-item</td>
                                <td>46-item</td>
                                <td>47-item</td>
                                <td>48-item</td>
                                <td>49-item</td>
                                <td>50-item</td>
                            </tr>
                            <tr>
                                <td>1-item</td>
                                <td>2-item</td>
                                <td>3-item</td>
                                <td>4-item</td>
                                <td>5-item</td>
                                <td>6-item</td>
                                <td>7-item</td>
                                <td>8-item</td>
                                <td>9-item</td>
                                <td>10-item</td>
                                <td>11-item</td>
                                <td>12-item</td>
                                <td>13-item</td>
                                <td>14-item</td>
                                <td>15-item</td>
                                <td>16-item</td>
                                <td>17-item</td>
                                <td>18-item</td>
                                <td>19-item</td>
                                <td>20-item</td>
                                <td>21-item</td>
                                <td>22-item</td>
                                <td>23-item</td>
                                <td>24-item</td>
                                <td>25-item</td>
                                <td>26-item</td>
                                <td>27-item</td>
                                <td>28-item</td>
                                <td>29-item</td>
                                <td>30-item</td>
                                <td>31-item</td>
                                <td>32-item</td>
                                <td>33-item</td>
                                <td>34-item</td>
                                <td>35-item</td>
                                <td>36-item</td>
                                <td>37-item</td>
                                <td>38-item</td>
                                <td>39-item</td>
                                <td>40-item</td>
                                <td>41-item</td>
                                <td>42-item</td>
                                <td>43-item</td>
                                <td>44-item</td>
                                <td>45-item</td>
                                <td>46-item</td>
                                <td>47-item</td>
                                <td>48-item</td>
                                <td>49-item</td>
                                <td>50-item</td>
                            </tr>
                            <tr>
                                <td>1-item</td>
                                <td>2-item</td>
                                <td>3-item</td>
                                <td>4-item</td>
                                <td>5-item</td>
                                <td>6-item</td>
                                <td>7-item</td>
                                <td>8-item</td>
                                <td>9-item</td>
                                <td>10-item</td>
                                <td>11-item</td>
                                <td>12-item</td>
                                <td>13-item</td>
                                <td>14-item</td>
                                <td>15-item</td>
                                <td>16-item</td>
                                <td>17-item</td>
                                <td>18-item</td>
                                <td>19-item</td>
                                <td>20-item</td>
                                <td>21-item</td>
                                <td>22-item</td>
                                <td>23-item</td>
                                <td>24-item</td>
                                <td>25-item</td>
                                <td>26-item</td>
                                <td>27-item</td>
                                <td>28-item</td>
                                <td>29-item</td>
                                <td>30-item</td>
                                <td>31-item</td>
                                <td>32-item</td>
                                <td>33-item</td>
                                <td>34-item</td>
                                <td>35-item</td>
                                <td>36-item</td>
                                <td>37-item</td>
                                <td>38-item</td>
                                <td>39-item</td>
                                <td>40-item</td>
                                <td>41-item</td>
                                <td>42-item</td>
                                <td>43-item</td>
                                <td>44-item</td>
                                <td>45-item</td>
                                <td>46-item</td>
                                <td>47-item</td>
                                <td>48-item</td>
                                <td>49-item</td>
                                <td>50-item</td>
                            </tr>
                            <tr>
                                <td>1-item</td>
                                <td>2-item</td>
                                <td>3-item</td>
                                <td>4-item</td>
                                <td>5-item</td>
                                <td>6-item</td>
                                <td>7-item</td>
                                <td>8-item</td>
                                <td>9-item</td>
                                <td>10-item</td>
                                <td>11-item</td>
                                <td>12-item</td>
                                <td>13-item</td>
                                <td>14-item</td>
                                <td>15-item</td>
                                <td>16-item</td>
                                <td>17-item</td>
                                <td>18-item</td>
                                <td>19-item</td>
                                <td>20-item</td>
                                <td>21-item</td>
                                <td>22-item</td>
                                <td>23-item</td>
                                <td>24-item</td>
                                <td>25-item</td>
                                <td>26-item</td>
                                <td>27-item</td>
                                <td>28-item</td>
                                <td>29-item</td>
                                <td>30-item</td>
                                <td>31-item</td>
                                <td>32-item</td>
                                <td>33-item</td>
                                <td>34-item</td>
                                <td>35-item</td>
                                <td>36-item</td>
                                <td>37-item</td>
                                <td>38-item</td>
                                <td>39-item</td>
                                <td>40-item</td>
                                <td>41-item</td>
                                <td>42-item</td>
                                <td>43-item</td>
                                <td>44-item</td>
                                <td>45-item</td>
                                <td>46-item</td>
                                <td>47-item</td>
                                <td>48-item</td>
                                <td>49-item</td>
                                <td>50-item</td>
                            </tr>
                            <tr>
                                <td>1-item</td>
                                <td>2-item</td>
                                <td>3-item</td>
                                <td>4-item</td>
                                <td>5-item</td>
                                <td>6-item</td>
                                <td>7-item</td>
                                <td>8-item</td>
                                <td>9-item</td>
                                <td>10-item</td>
                                <td>11-item</td>
                                <td>12-item</td>
                                <td>13-item</td>
                                <td>14-item</td>
                                <td>15-item</td>
                                <td>16-item</td>
                                <td>17-item</td>
                                <td>18-item</td>
                                <td>19-item</td>
                                <td>20-item</td>
                                <td>21-item</td>
                                <td>22-item</td>
                                <td>23-item</td>
                                <td>24-item</td>
                                <td>25-item</td>
                                <td>26-item</td>
                                <td>27-item</td>
                                <td>28-item</td>
                                <td>29-item</td>
                                <td>30-item</td>
                                <td>31-item</td>
                                <td>32-item</td>
                                <td>33-item</td>
                                <td>34-item</td>
                                <td>35-item</td>
                                <td>36-item</td>
                                <td>37-item</td>
                                <td>38-item</td>
                                <td>39-item</td>
                                <td>40-item</td>
                                <td>41-item</td>
                                <td>42-item</td>
                                <td>43-item</td>
                                <td>44-item</td>
                                <td>45-item</td>
                                <td>46-item</td>
                                <td>47-item</td>
                                <td>48-item</td>
                                <td>49-item</td>
                                <td>50-item</td>
                            </tr>
                            <tr>
                                <td>1-item</td>
                                <td>2-item</td>
                                <td>3-item</td>
                                <td>4-item</td>
                                <td>5-item</td>
                                <td>6-item</td>
                                <td>7-item</td>
                                <td>8-item</td>
                                <td>9-item</td>
                                <td>10-item</td>
                                <td>11-item</td>
                                <td>12-item</td>
                                <td>13-item</td>
                                <td>14-item</td>
                                <td>15-item</td>
                                <td>16-item</td>
                                <td>17-item</td>
                                <td>18-item</td>
                                <td>19-item</td>
                                <td>20-item</td>
                                <td>21-item</td>
                                <td>22-item</td>
                                <td>23-item</td>
                                <td>24-item</td>
                                <td>25-item</td>
                                <td>26-item</td>
                                <td>27-item</td>
                                <td>28-item</td>
                                <td>29-item</td>
                                <td>30-item</td>
                                <td>31-item</td>
                                <td>32-item</td>
                                <td>33-item</td>
                                <td>34-item</td>
                                <td>35-item</td>
                                <td>36-item</td>
                                <td>37-item</td>
                                <td>38-item</td>
                                <td>39-item</td>
                                <td>40-item</td>
                                <td>41-item</td>
                                <td>42-item</td>
                                <td>43-item</td>
                                <td>44-item</td>
                                <td>45-item</td>
                                <td>46-item</td>
                                <td>47-item</td>
                                <td>48-item</td>
                                <td>49-item</td>
                                <td>50-item</td>
                            </tr>
                            <tr>
                                <td>1-item</td>
                                <td>2-item</td>
                                <td>3-item</td>
                                <td>4-item</td>
                                <td>5-item</td>
                                <td>6-item</td>
                                <td>7-item</td>
                                <td>8-item</td>
                                <td>9-item</td>
                                <td>10-item</td>
                                <td>11-item</td>
                                <td>12-item</td>
                                <td>13-item</td>
                                <td>14-item</td>
                                <td>15-item</td>
                                <td>16-item</td>
                                <td>17-item</td>
                                <td>18-item</td>
                                <td>19-item</td>
                                <td>20-item</td>
                                <td>21-item</td>
                                <td>22-item</td>
                                <td>23-item</td>
                                <td>24-item</td>
                                <td>25-item</td>
                                <td>26-item</td>
                                <td>27-item</td>
                                <td>28-item</td>
                                <td>29-item</td>
                                <td>30-item</td>
                                <td>31-item</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="filtrar">
                    <form>

                        <div class="contenedor_filtros">
                            <h2>Filtrar Ordenes de Producción</h2>
                            <h3>Filtrar por O.P.:</h3>
                            <div class="filtro fecha">
                                <p>Buscar O.P.:</p>
                                <input type="number" name="" id="">
                                <p>Filtrar por rango de O.P.: </p>
                                <div class="rango">
                                    <input type="number" name="" id="">
                                    <p>-</p>
                                    <input type="number" name="" id="">
                                </div>
                            </div>
                            <h3>Filtrar por fecha:</h3>
                            <div class="filtro fecha">
                                <p>Filtrar por fecha especifica:</p>
                                <input type="date" name="" id="">
                                <p>Filtrar por mes: </p>
                                <input type="month" name="" id="">
                                <p>Filtrar por año: </p>
                                <input type="number" name="" id="">
                                <p>Filtrar por rango de fecha: </p>
                                <div class="rango">
                                    <input type="date" name="" id="">
                                    <p>-</p>
                                    <input type="date" name="" id="">
                                </div>
                            </div>
                            <h3>Filtrar por cliente:</h3>
                            <div class="filtro fecha">
                                <p>Buscar cliente:</p>
                                <input type="text" name="" id="">
                            </div>
                            <button>Buscar</button>
                        </div>
                    </form>
                </div>
            </main>
        </div>
        <img class="source source-2" src="../public/img/aux-1.png" alt="" srcset="">
    </div>
    <script src="../public/js/filtros.js"></script>
</body>
</html>