<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordenes de Producción</title>
    <link rel="stylesheet" href="../public/css/estilos.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="main">
        <img class="source source-1" src="../public/img/aux-2.png" alt="" srcset="">
        <div class="row-con">
            <header>
                <div class="logo">
                    <img src="../public/img/logo.png" alt="">
                </div>
                <div class="info">
                    <h3>Sistema Central de Producción</h3>
                    <p>Menú Principal</p>
                </div>
                <div class="options">
                    <button class="material-icons">logout</button>
                </div>
            </header>
            <main>
                <div class="options">
                    <div class="left">
                        <a href="principal.html" class="regresar"><i class="material-icons">arrow_back_ios</i>Menú principal</a>
                    </div>
                    <div class="right">
                        <button class="btn-icon btn_filtrar_open material-icons">filter_alt</button>
                        <button class="btn-icon material-icons">print</button>
                    </div>
                </div>
                <div class="tabla">
                    <table>
                        <thead class="cabecera">
                            <th>CAL.</th>
                            <th>Kg.</th>
                            <th>Factor</th>
                            <th>N° O.P.</th>
                            <th>Fecha de O.P.</th>
                            <th>Cliente</th>
                            <th>Medida</th>
                            <th>Descripción</th>
                            <th>Acabado</th>
                            <th>Cant</th>
                            <th>Precio</th>
                            <th>Total</th>
                            <th>Acumulado</th>
                            <th>Estado</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="filtrar">
                    <form id="form-formatos">
                        <div class="contenedor_filtros">
                            <h2>Formatos pre establecidos</h2>
                            <select name="seleccion_formato" id="seleccion_formato">
                                <option value="0">Ordenes de Producción</option>
                                <option value="1">Reporte Diario</option>
                                <option value="2">Reporte Diario por Máquina</option>
                            </select>
                            <button>Consultar</button>
                        </div>
                    </form>
                    <form id="form-filtros">
                        <div class="contenedor_filtros">
                            <h2>Filtrar Ordenes de Producción</h2>
                            <h3>Filtrar por O.P.:</h3>
                            <div class="filtro fecha">
                                <p>Buscar O.P.:</p>
                                <input type="number" name="" id="">
                                <p>Filtrar por rango de O.P.: </p>
                                <div class="rango">
                                    <input type="number" name="" id="">
                                    <p>-</p>
                                    <input type="number" name="" id="">
                                </div>
                            </div>
                            <h3>Filtrar por fecha:</h3>
                            <div class="filtro fecha">
                                <p>Filtrar por fecha especifica:</p>
                                <input type="date" name="" id="">
                                <p>Filtrar por mes: </p>
                                <input type="month" name="" id="">
                                <p>Filtrar por año: </p>
                                <input type="number" name="" id="">
                                <p>Filtrar por rango de fecha: </p>
                                <div class="rango">
                                    <input type="date" name="" id="">
                                    <p>-</p>
                                    <input type="date" name="" id="">
                                </div>
                            </div>
                            <h3>Filtrar por cliente:</h3>
                            <div class="filtro fecha">
                                <p>Buscar cliente:</p>
                                <input type="text" name="" id="">
                            </div>
                            <button>Buscar</button>
                        </div>
                    </form>
                </div>
            </main>
        </div>
        <img class="source source-2" src="../public/img/aux-1.png" alt="" srcset="">
    </div>
    <script src="../public/js/filtros.js"></script>
</body>
</html>