<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="../public/css/estilos.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="main">
        <img class="source source-1" src="../public/img/aux-2.png" alt="" srcset="">
        <div class="row-con">
            <header>
                <div class="logo">
                    <img src="../public/img/logo.png" alt="">
                </div>
                <div class="info">
                    <h3>Sistema Central de Producción</h3>
                    <p>Menú Principal</p>
                </div>
                <div class="options">
                    <button class="material-icons">logout</button>
                </div>
            </header>
            <main>
                <h1>Nombre de usuario</h1>
                <nav>
                    <a href="ordenes.html" class="tag tag-1">ORDENES DE PRODUCCIÓN</a>
                    <a href="control.html" class="tag tag-2">CONTROL DE PRODUCCIÓN</a>
                    <a href="usuarios.html" class="tag tag-3">GESTIONAR USUARIOS</a>
                    <a href="bitacora.html" class="tag tag-4">BITACORA</a>
                </nav>
            </main>
        </div>
        <img class="source source-2" src="../public/img/aux-1.png" alt="" srcset="">
    </div>
</body>
</html>