<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de usuarios</title>
    <link rel="stylesheet" href="../public/css/estilos.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="main">
        <img class="source source-1" src="../public/img/aux-2.png" alt="" srcset="">
        <div class="row-con">
            <header>
                <div class="logo">
                    <img src="../public/img/logo.png" alt="">
                </div>
                <div class="info">
                    <h3>Sistema Central de Producción</h3>
                    <p>Gestión de Usuarios</p>
                </div>
                <div class="options">
                    <button class="material-icons">logout</button>
                </div>
            </header>
            <main>
                <div class="options">
                    <div class="left">
                        <a href="principal.html" class="regresar"><i class="material-icons">arrow_back_ios</i>Regresar al menú principal</a>
                    </div>
                    <div class="right">
                        <button class="btn-tooltip btn-icon btn-form-add">Agregar un nuevo usuario</button>
                    </div>
                </div>
                <div class="tabla">
                    <table>
                        <thead>
                            <th class="th-btn">Editar</th>
                            <th class="th-btn">Eliminar</th>
                            <th>item-3</th>
                            <th>item-4</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="td-btn"><button class="material-icons btn-icon">edit</button></td>
                                <td class="td-btn"><button class="material-icons btn-icon">close</button></td>
                                <td>item-3</td>
                                <td>item-4</td>
                            </tr>
                            <tr>
                                <td class="td-btn"><button class="material-icons btn-icon">edit</button></td>
                                <td class="td-btn"><button class="material-icons btn-icon">close</button></td>
                                <td>item-3</td>
                                <td>item-4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ingresar">
                    <div class="contenedor_ingresar">
                        <form id="form-control">
                            <h2>Nuevo Usuario</h2>
                            <p>Ingresa el nombre de usuario:</p>
                            <input type="number" name="" id="">
                            <p>Ingresa la contraseña:</p>
                            <input type="number" name="" id="">
                            <p>Selecciona el rol:</p>
                            <select name="" id="">
                                <option value="">Administrador</option>
                                <option value="">General</option>
                            </select>
                            <button data-btn="insertar" id="btn-form-control-registrar">Registrar</button>
                            <label class="btn-cancel" id="btn-form-control-cancel">Cancelar</label>
                        </form>
                    </div>
                </div>
            </main>
        </div>
        <img class="source source-2" src="../public/img/aux-1.png" alt="" srcset="">
    </div>
    <script src="../public/js/usuario.js"></script>
</body>
</html>