<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de usuarios</title>
    <link rel="stylesheet" href="../public/css/estilos.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="main">
        <img class="source source-1" src="../public/img/aux-2.png" alt="" srcset="">
        <div class="row-con">
            <header>
                <div class="logo">
                    <img src="../public/img/logo.png" alt="">
                </div>
                <div class="info">
                    <h3>Sistema Central de Producción</h3>
                    <p>Gestión de Usuarios</p>
                </div>
                <div class="options">
                    <button class="material-icons">logout</button>
                </div>
            </header>
            <main>
                <div class="options">
                    <div class="left">
                        <a href="principal.html" class="regresar"><i class="material-icons">arrow_back_ios</i>Regresar al menú principal</a>
                    </div>
                    <div class="right">
                        <button class="btn-tooltip">
                            <p class="material-icons">add</p>
                            <span class="arrow material-icons">arrow_drop_up</span>
                            <span class="tooltip btn-icon">Agregar un nuevo usuario</span>
                        </button>
                    </div>
                </div>
                <div class="tabla">
                    <table>
                        <thead>
                            <th class="th-btn">Editar</th>
                            <th class="th-btn">Eliminar</th>
                            <th>item-3</th>
                            <th>item-4</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="td-btn"><button class="material-icons btn-icon">edit</button></td>
                                <td class="td-btn"><button class="material-icons btn-icon">close</button></td>
                                <td>item-3</td>
                                <td>item-4</td>
                            </tr>
                            <tr>
                                <td class="td-btn"><button class="material-icons btn-icon">edit</button></td>
                                <td class="td-btn"><button class="material-icons btn-icon">close</button></td>
                                <td>item-3</td>
                                <td>item-4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
        <img class="source source-2" src="../public/img/aux-1.png" alt="" srcset="">
    </div>
    <script src="../public/js/filtros.js"></script>
</body>
</html>