@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

/* 
    font-family: 'Inter', sans-serif; 
    font-family: 'Oswald', sans-serif;
*/

:root {
    --background-body: #F7F8FC;
    --background-tornillo-1: #65ABAF;
    --background-tornillo-2: #D9D0BE;
    --background-tornillo-3: #675844;

    --border-radius: 40px;

    --color-text: #383838;
    --color-blue-button: #205076;
    --color-gray: #7D7D7D;
    --color-blue: #2D9FFC;
    --color-green: #319E4F;
    --color-red: #D95548;
    --color-yellow: #EDB303;
    --color-blue-3: rgba(45, 159, 252, 0.3);
    --color-green-3: rgba(49, 158, 79, 0.3);
    --color-red-3: rgba(217, 85, 72, 0.3);
    --color-yellow-3: rgba(237, 179, 3, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-body);
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    padding: 15px 0px;
    font-weight: 500;
    color: var(--color-text);
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3em;
}

p, span, a, i, li, button, label, input {
    font-size: 1em;
    font-family: 'Inter', sans-serif; 
    color: var(--color-text);
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="password"],
textarea {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    transition: all .3s;
    border: 3px solid var(--color-gray);
    box-shadow: 0px 0px 0px 0px var(--color-blue-3);
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
textarea:focus {
    outline: none;
    border: 3px solid var(--color-blue);
    box-shadow: 0px 0px 0px 5px var(--color-blue-3);
}

input[type="text"].input-error,
input[type="date"].input-error,
input[type="number"].input-error,
input[type="password"].input-error,
textarea.input-error {
    border: 3px solid var(--color-red);
}

button {
    color: white;
    background-color: var(--color-blue-button);
    box-shadow: 0px 0px 0px 0px rgba(32, 80, 118, 0.3);
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all .2s;
}

button:focus {
    box-shadow: 0px 0px 0px 5px var(--color-blue-3);
    outline: none;
}

.welcome,
.main {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.source {
    position: absolute;
    width: 110px;
}

.source-1 {
    left: -20px;
    top: calc(100% - 350px);
}

.source-2 {
    right: -20px;
    bottom: calc(100% - 350px);
}

.row-con {
    width: 70%;
    min-height: 100vh;
    display: grid;
    margin: auto;
}

.welcome .row-con {
    grid-template-columns: 1fr 0.7fr 0fr;
}

.main .row-con {
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr;
}

.hidden {
    grid-template-columns: 0fr 1fr 1fr;
}

.left {
    grid-column: 1 / 2;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.left p {
    font-size: 1.5em;
}

.hidden .left {
    width: 0;
    overflow: hidden;
    display: none;
}

.center {
    grid-column: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    position: relative;
}

.card-sm {
    width: 260px;
    height: 420px;
    border-radius: var(--border-radius);
}

.card-sm-1 {
    position: absolute;
    left: -100px;
    top: calc(50% - 380px);
    background-color: var(--background-tornillo-1);
    transition: all .6s;
}

.hidden .card-sm-1 {
    left: -60px;
    top: calc(50% - 200px);
}

.card-sm-2 {
    position: absolute;
    left: 100px;
    top: calc(50% - 200px);
    background-color: var(--background-tornillo-2);
    transition: all .6s;
}

.hidden .card-sm-2 {
    left: 160px;
    top: calc(50% - 80px);
}

.card-sm-3 {
    position: absolute;
    left: 320px;
    top: calc(50% - 50px);
    background-color: var(--background-tornillo-3);
    transition: all .6s;
}

.hidden .card-sm-3 {
    left: 360px;
    top: calc(50% - 300px);
}

.tornillo {
    width: 290px;
}

.tornillo-1 {
    position: absolute;
    left: -100px;
    top: 10px;
    animation: tornillo-1 2.5s infinite ease-in-out;
}

@keyframes tornillo-1 {
    0% {
        top: 10px;
    }

    50% {
        top: 70px;
    }

    100% {
        top: 10px;
    }
}

.tornillo-2 {
    position: absolute;
    left: -30px;
    top: 30px;
    z-index: 2;
    transform: rotate(225deg);
    animation: tornillo-2 6s infinite ease-in-out;
}

@keyframes tornillo-2 {
    0% {
        top: 30px;
    }

    50% {
        top: 90px;
    }

    100% {
        top: 30px;
    }
}

.tornillo-3 {
    position: absolute;
    left: 30px;
    top: 60px;
    animation: tornillo-3 4s infinite ease-in-out;
}

@keyframes tornillo-3 {
    0% {
      top: 70px;
    }

    50% {
      top: 10px;
    }

    100% {
        top: 70px;
    }
}

.form-login {
    padding: 0px 50px 50px 50px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    transition: width .3s,
                opacity 1.4s;
    width: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
}

.hidden .form-login {
    width: 80%;
    opacity: 1;
    overflow: hidden;
    visibility: visible;
}

.form-login input {
    margin: 10px 0px;
}

.form-login .options {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px 0px 0px 0px;
}

@media screen and (max-width: 1366px) {
    .card-sm {
        width: 150px;
        height: 200px;
        border-radius: var(--border-radius);
    }

    .card-sm-1 {
        left: 60px;
        top: calc(50% - 230px);
    }
    
    .card-sm-2 {
        left: 160px;
        top: calc(50% - 95px);
    }
    
    .card-sm-3 {
        left: 260px;
        top: calc(50% + 30px);
    }

    .tornillo {
        width: 150px;
    }

    .tornillo-1 {
        left: -50px;
    }

    .tornillo-2 {
        left: -10px;
    }

    .tornillo-3 {
        left: 30px;
    }

    @keyframes tornillo-1 {
        0% {
            top: 10px;
        }

        50% {
            top: 70px;
        }

        100% {
            top: 10px;
        }
    }

    @keyframes tornillo-2 {
        0% {
            top: 20px;
        }

        50% {
            top: 80px;
        }

        100% {
            top: 20px;
        }
    }

    @keyframes tornillo-3 {
        0% {
            top: 70px;
        }

        50% {
            top: 10px;
        }

        100% {
            top: 70px;
        }
    }

    .hidden .card-sm-1 {
        left: -0px;
        top: calc(50% - 160px);
    }

    .hidden .card-sm-2 {
        left: 110px;
        top: calc(50% - 40px);
    }

    .hidden .card-sm-3 {
        left: 200px;
        top: calc(50% - 200px);
    }

    .hidden .form-login {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .welcome .row-con {
        width: 90%;
        padding: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0fr;
    }

    .hidden {
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 1fr;
    }

    .hidden .form-login {
        padding: 10px;
    }

    .source {
        position: absolute;
        width: 90px;
        opacity: 0.5;
    }

    .source-1 {
        left: -20px;
        top: calc(100% - 150px);
    }

    .source-2 {
        right: -20px;
        bottom: calc(100% - 150px);
    }

    .left {
        grid-column: 1 / 2;
    }

    .right {
        grid-column: 1 / 2;
    }

    .card-sm {
        display: none;
    }
}