@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap');

/* 
    font-family: 'Inter', sans-serif; 
    font-family: 'Oswald', sans-serif;
*/

:root {
    --background-body: #F7F8FC;
    --background-tornillo-1: #65ABAF;
    --background-tornillo-2: #D9D0BE;
    --background-tornillo-3: #675844;

    --border-radius: 40px;

    --color-text: #383838;
    --color-blue-button: #205076;
    
    --color-gray: #7D7D7D;
    --color-blue: #2D9FFC;
    --color-green: #319E4F;
    --color-red: #D95548;
    --color-yellow: #EDB303;
    
    --color-gray-3: rgba(125, 125, 125, 0.1);
    --color-blue-3: rgba(45, 159, 252, 0.3);
    --color-green-3: rgba(49, 158, 79, 0.3);
    --color-red-3: rgba(217, 85, 72, 0.3);
    --color-yellow-3: rgba(237, 179, 3, 0.3);

    --color-tag-menu: #E2E2E2;
    --color-tag-menu-focus: #1A8993;
    --color-tag-menu-hover: #C0EAF0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-body);
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
    width: 100%;
    padding: 15px 0px;
    font-weight: 500;
    color: var(--color-text);
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 3em;
}

p, span, a, i, li, button, label, input, th, td, option, select {
    font-size: 1em;
    font-family: 'Inter', sans-serif; 
    color: var(--color-text);
}

input[type="text"],
input[type="date"],
input[type="month"],
input[type="number"],
input[type="password"],
select,
textarea {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    transition: all .3s;
    border: 3px solid var(--color-gray);
    box-shadow: 0px 0px 0px 0px var(--color-blue-3);
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
    outline: none;
    border: 3px solid var(--color-blue);
    box-shadow: 0px 0px 0px 5px var(--color-blue-3);
}

input[type="text"].input-error,
input[type="date"].input-error,
input[type="month"].input-error,
input[type="number"].input-error,
input[type="password"].input-error,
select.input-error,
textarea.input-error {
    border: 3px solid var(--color-red);
    box-shadow: 0px 0px 0px 5px var(--color-red-3);
}

button,
.btn-cancel {
    color: white;
    background-color: var(--color-blue-button);
    box-shadow: 0px 0px 0px 0px rgba(32, 80, 118, 0.3);
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all .2s;
}

button:focus {
    box-shadow: 0px 0px 0px 5px var(--color-blue-3);
    outline: none;
}

.btn-cancel {
    background-color: var(--color-red);
    box-shadow: 0px 0px 0px 0px var(--color-red-3);
}

.btn-cancel:focus {
    box-shadow: 0px 0px 0px 5px var(--color-red-3);
    outline: none;
}

.alert {
    position: fixed;
    width: 500px;
    padding: 20px;
    top: -30px;
    left: calc(50% - 250px);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.show-alert {
    top: 30px;
    visibility: visible;
    opacity: 1;
}

.alert .contenido {
    width: 100%;
}

.alert .contenido h3,
.alert .contenido p {
    font-family: 'Inter', sans-serif; 
}

.alert .contenido h3 {
    padding: 0px 0px 10px 0px;
    font-weight:bolder;
}

.alert-rojo {
    background-color: var(--color-red);
}

.alert-rojo h3,
.alert-rojo p {
    color: white;
}

.alert-amarillo {
    background-color: var(--color-yellow);
}

.alert-amarillo h3,
.alert-amarillo p {
    color: var(--color-text);
}

.alert-azul {
    background-color: var(--color-blue);
}

.alert-azul h3,
.alert-azul p {
    color: white;
}

.welcome,
.main {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.main {
    overflow: auto;
}

.source {
    position: fixed;
    width: 110px;
    z-index: -1;
    transition: all .3s;
}

.source-1 {
    left: -20px;
    top: calc(100% - 350px);
}

.source-2 {
    right: -20px;
    bottom: calc(100% - 350px);
}

.row-con {
    max-width: 70%;
    min-height: 100vh;
    display: grid;
    margin: auto;
}

.welcome .row-con {
    grid-template-columns: 1fr 0.7fr 0fr;
}

.main .row-con {
    grid-template-columns: 100%;
    grid-template-rows: 150px 1fr;
}

.welcome .hidden {
    grid-template-columns: 0fr 1fr 1fr;
}

.left {
    grid-column: 1 / 2;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.left p {
    font-size: 1.5em;
}

.hidden .left {
    width: 0;
    overflow: hidden;
    display: none;
}

.center {
    grid-column: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    position: relative;
}

.card-sm {
    width: 260px;
    height: 420px;
    border-radius: var(--border-radius);
}

.card-sm-1 {
    position: absolute;
    left: -100px;
    top: calc(50% - 380px);
    background-color: var(--background-tornillo-1);
    transition: all .6s;
}

.hidden .card-sm-1 {
    left: -60px;
    top: calc(50% - 200px);
}

.card-sm-2 {
    position: absolute;
    left: 100px;
    top: calc(50% - 200px);
    background-color: var(--background-tornillo-2);
    transition: all .6s;
}

.hidden .card-sm-2 {
    left: 160px;
    top: calc(50% - 80px);
}

.card-sm-3 {
    position: absolute;
    left: 320px;
    top: calc(50% - 50px);
    background-color: var(--background-tornillo-3);
    transition: all .6s;
}

.hidden .card-sm-3 {
    left: 360px;
    top: calc(50% - 300px);
}

.tornillo {
    width: 290px;
}

.tornillo-1 {
    position: absolute;
    left: -100px;
    top: 10px;
    animation: tornillo-1 2.5s infinite ease-in-out;
}

@keyframes tornillo-1 {
    0% {
        top: 10px;
    }

    50% {
        top: 70px;
    }

    100% {
        top: 10px;
    }
}

.tornillo-2 {
    position: absolute;
    left: -30px;
    top: 30px;
    z-index: 2;
    transform: rotate(225deg);
    animation: tornillo-2 6s infinite ease-in-out;
}

@keyframes tornillo-2 {
    0% {
        top: 30px;
    }

    50% {
        top: 90px;
    }

    100% {
        top: 30px;
    }
}

.tornillo-3 {
    position: absolute;
    left: 30px;
    top: 60px;
    animation: tornillo-3 4s infinite ease-in-out;
}

@keyframes tornillo-3 {
    0% {
      top: 70px;
    }

    50% {
      top: 10px;
    }

    100% {
        top: 70px;
    }
}

.form-login {
    padding: 0px 50px 50px 50px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    transition: width .3s,
                opacity 1.4s;
    width: 0;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
}

.hidden .form-login {
    width: 80%;
    opacity: 1;
    overflow: hidden;
    visibility: visible;
}

.form-login input {
    margin: 10px 0px;
}

.form-login .options {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px 0px 0px 0px;
}

header {
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr 60px;
    align-items: center;
}

.logo {
    width: 100%;
}

.logo img {
    width: 100%;
}

.info {
    padding: 0px 30px 0px 0px;
    text-align: right;
}

.info h3 {
    font-size: 2em;
    padding: 0;
}

header .options {
    justify-content: flex-end;
}

header .options button {
    padding: 12px;
}

main {
    max-width: 100%;
}

main nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 0px 0px;
}

main nav .tag {
    background-color: var(--color-tag-menu);
    width: 250px;
    height: 350px;
    padding: 30px;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 0px 0px 0px rgba(32, 80, 118, 0.3);
    transition: all .3s;
}

main nav .tag:hover {
    background-color: var(--color-tag-menu-hover);
    color: var(--color-tag-menu-focus);
}

main nav .tag:focus {
    background-color: var(--color-tag-menu-focus);
    box-shadow: 0px 0px 0px 10px var(--color-blue-3);
    color: white;
}

main .options {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main .left .regresar {
    display: flex;
    align-items: center;
    text-decoration: none;
}

main .left .regresar:hover {
    text-decoration: underline;
}

main .left .regresar i {
    font-size: 1em;
    padding: 0px 15px 0px 0px;
}

main .right {
    display: flex;
    align-items: center;
}

main .right button {
    background-color: white;
    color: var(--color-text);
    margin: 0px 0px 0px 15px;
    font-weight: 500;
    position: relative;
}

main .right button:hover {
    background-color: var(--color-tag-menu-hover);
    color: var(--color-tag-menu-focus);
}

main .right button:focus {
    background-color: var(--color-blue-button);
    color: white;
}

main .right button:focus p {
    color: white;
}

main .right .btn-tooltip:focus p {
    color: white;
}

main .right .btn-tooltip .arrow {
    position: absolute;
    top: 90%; 
    left: calc(50% - 15px);
    height: 30px;
    width: 30px;
    color: var(--color-blue-button);
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

main .right .btn-tooltip .tooltip {
    position: absolute;
    top: 90%;
    right: 0;
    width: 250px;
    padding: 15px;
    text-align: center;
    background-color: var(--color-blue-button);
    border-radius: 10px;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    font-weight: normal;
}

main .right .btn-tooltip:hover p {
    color: var(--color-tag-menu-focus);
}

main .right .btn-tooltip:hover .tooltip {
    top: calc(100% + 13px);
    opacity: 1;
    visibility: visible;
}

main .right .btn-tooltip:hover .arrow {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

main .right .btn-icon,
main .tabla td .btn-icon {
    background-color: var(--color-blue-button);
    color: white;
    padding: 15px;
}

main .tabla {
    min-width: 100%;
    max-width: 100%;
    height: 200px;
    max-height: 600px;
    padding: 10px 0px;
    margin: 40px 0px;
    overflow: auto;
}

main .tabla table {
    border-radius: 10px;
    min-width: 100%;
    background-color: white;
    border-collapse: collapse;
}


main .tabla table th,
main .tabla table td {
    padding: 10px;
    min-width: 120px;
}

main .tabla table .th-btn {
    min-width: 40px;
    width: 40px;
    max-width: 40px;
}

main .tabla table .td-btn  {
    text-align: center;
}

main .tabla table tbody tr:nth-child(even) {
    background-color: var(--color-gray-3);
}

main .tabla table tbody tr:hover {
    background-color: var(--color-blue-3);
}

main .tabla table tbody tr:active {
    background-color: var(--color-tag-menu-focus);
}

main .tabla table tbody tr:active td {
    color: white;
}

main .filtrar,
main .ingresar {
    position: fixed;
    width: 450px;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    left: -450px;
    top: 0;
    background-color: white;
    box-shadow: 50px 0px 0px solid rgba(125, 125, 125, 0.1);
    padding: 15px 30px 30px 30px;
    transition: all .3s;
}

main .open {
    left: 0;
    box-shadow: 50px 0px 60px solid rgba(125, 125, 125, 0.1);
}

main .filtrar h2,
main .ingresar h2 {
    font-size: 2em;
}

main .filtrar h3,
main .ingresar h3 {
    font-size: 1.5em;
}

main .filtrar p,
main .ingresar p {
    padding: 10px 0px;
}

main .filtrar .rango {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
}

main .filtrar .rango p {
    text-align: center;
}

main .filtrar button,
main .filtrar .btn-cancel,
main .ingresar button,
main .ingresar .contenedor_ingresar .btn-cancel {
    margin: 15px 0px 30px 0px;
}

main .informacion {
    width: 100%;
    padding: 30px 0px 0px 0px;
}

main .informacion table {
    width: 100%;
    border-collapse: collapse;
}

main .informacion table tr td {
    padding: 10px 0px;
}

main .contenedor_tablas {
    max-height: 400px; 
    width: 100%;
    max-width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

main .contenedor_tablas .tabla_estado {
    width: 0px;
    overflow: hidden;
    transition: all .3s;
    padding: 15px 0px;
    margin: 0;
    opacity: 0;
}

main .contenedor_tablas .tabla_estado .tabla {
    margin: 0;
}

main .contenedor_tablas .tabla_estado table {
    width: 100%;
    border-collapse: collapse;
}

main .contenedor_tablas .tabla_estado table th,
main .contenedor_tablas .tabla_estado table td {
    padding: 10px;
}

main .contenedor_tablas .active {
    width: 100%;
    padding: 15px;
    opacity: 1;
}

main .estados {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    flex-wrap: wrap;
}

main .estados button {
    margin: 0px 0px 15px 0px;
    background-color: var(--color-tag-menu);
    color: var(--color-text);
}

main .estados button:hover {
    background-color: var(--color-tag-menu-hover);
    color: var(--color-tag-menu-focus);
}

main .estados .active {
    background-color: var(--color-blue-button);
    color: white;
}

@media screen and (max-width: 1366px) {
    h1 {
        font-size: 3em;
    }

    .main .row-con {
        width: 80%;
        max-width: 80%;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr;
    }

    .source-1 {
        top: calc(100% - 250px);
    }

    .source-2 {
        bottom: calc(100% - 250px);
    }

    .card-sm {
        width: 150px;
        height: 200px;
        border-radius: var(--border-radius);
    }

    .card-sm-1 {
        left: 60px;
        top: calc(50% - 230px);
    }
    
    .card-sm-2 {
        left: 160px;
        top: calc(50% - 95px);
    }
    
    .card-sm-3 {
        left: 260px;
        top: calc(50% + 30px);
    }

    .tornillo {
        width: 150px;
    }

    .tornillo-1 {
        left: -50px;
    }

    .tornillo-2 {
        left: -10px;
    }

    .tornillo-3 {
        left: 30px;
    }

    @keyframes tornillo-1 {
        0% {
            top: 10px;
        }

        50% {
            top: 70px;
        }

        100% {
            top: 10px;
        }
    }

    @keyframes tornillo-2 {
        0% {
            top: 20px;
        }

        50% {
            top: 80px;
        }

        100% {
            top: 20px;
        }
    }

    @keyframes tornillo-3 {
        0% {
            top: 70px;
        }

        50% {
            top: 10px;
        }

        100% {
            top: 70px;
        }
    }

    .hidden .card-sm-1 {
        left: -0px;
        top: calc(50% - 160px);
    }

    .hidden .card-sm-2 {
        left: 110px;
        top: calc(50% - 40px);
    }

    .hidden .card-sm-3 {
        left: 200px;
        top: calc(50% - 200px);
    }

    .hidden .form-login {
        width: 100%;
    }

    main nav .tag {
        width: 210px;
        height: 300px;
    }

    main .tabla {
        width: 100px;
        max-width: 100%;
        overflow-x: scroll;
    }
}

@media screen and (max-width: 768px) {
    .main {
        max-width: 100%;
    }

    .row-con {
        max-width: 90%;
    }
    
    .welcome .row-con {
        width: 90%;
        max-width: 90%;
        padding: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0fr;
    }
    
    .main .row-con {
        width: 90%;
        max-width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: 250px 1fr;
    }

    .welcome .hidden {
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 1fr;
    }

    .hidden .form-login {
        padding: 10px;
    }

    .source {
        width: 90px;
        opacity: 0.5;
    }

    .source-1 {
        left: -20px;
        top: calc(100% - 150px);
    }

    .source-2 {
        right: -20px;
        bottom: calc(100% - 150px);
    }

    .welcome .left {
        grid-column: 1 / 2;
    }

    .welcome .right {
        grid-column: 1 / 2;
    }

    .card-sm {
        display: none;
    }

    main nav {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px 0px 30px 0px;
    }
    
    main nav .tag {
        width: 100%;
        height: 150px;
        margin-top: 30px;
        padding: 30px;
    }

    .row-con header {
        max-width: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 90px 1fr;
    }
    
    .row-con .logo {
        margin: auto;
        width: 100%;
        display: flex;
        padding: 20px 0px;
    }
    
    .row-con .logo img {
        width: 40%;
    }
    
    .row-con .info {
        max-width: 100%;
        text-align: center;
        padding: 0;
    }
    
    .row-con .info h3 {
        font-size: 2em;
        padding: 0;
    }
    
    header .options {
        position: fixed;
        right: 5%;
        top: 15px;
    }
    
    header .options button {
        padding: 12px;
    }

    main .options {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 15px;
    }

    main .options .left {
        width: 100%;
        padding: 15px 0px;
    }

    main .options .right button {
        margin: auto;
    }

    main .options .right input {
        margin-bottom: 15px;
    }

    main .right {
        width: 100%;
        max-width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    main .tabla {
        width: 100px;
        max-width: 100%;
        overflow-x: scroll;
    }

    main .tabla table {
        min-width: 100%;
    }

    main .filtrar,
    main .ingresar {
        width: 100%;
        left: -100%;
    }

    main .open {
        left: 0;
    }

    main .estados {
        width: 40%;
        max-width: 40%;
    }
}